In [1]:
# read data from text files
with open('data/reviews.txt', 'r') as f:
    reviews = f.read()
with open('data/labels.txt', 'r') as f:
    labels = f.read()

In [2]:
print(f"Reviews: {reviews[:500]}")

Reviews: bromwell high is a cartoon comedy . it ran at the same time as some other programs about school life  such as  teachers  . my   years in the teaching profession lead me to believe that bromwell high  s satire is much closer to reality than is  teachers  . the scramble to survive financially  the insightful students who can see right through their pathetic teachers  pomp  the pettiness of the whole situation  all remind me of the schools i knew and their students . when i saw the episode in which

In [3]:
print(f"Labels: {labels[:100]}")

Labels: positive
negative
positive
negative
positive
negative
positive
negative
positive
negative
positive
n

In [4]:
print(f"""
Size of Review dataset : {len(reviews)}
Size of labels dataset : {len(labels)}
""")

Size of Review dataset : 33678267
Size of labels dataset : 225000

### Data pre-processing

From the example of the reviews data above. For the processing steps, we'll want to take:
>* get rid of periods and extraneous punctuation.
* Deal with `\n`. 
* Then combined all the reviews back together.

In [5]:
from string import punctuation

#removing punctuation
reviews = reviews.lower()
text = ''.join([char for char in reviews if char not in punctuation])

# split by new lines and spaces
reviews_split = text.split('\n')
text = ' '.join(reviews_split)

# create a list of words and labels
words = text.split()
labels = labels.split()

In [6]:
words[:10]

['bromwell', 'high', 'is', 'a', 'cartoon', 'comedy', 'it', 'ran', 'at', 'the']

In [7]:
labels[:10]

['positive',
 'negative',
 'positive',
 'negative',
 'positive',
 'negative',
 'positive',
 'negative',
 'positive',
 'negative']

In [8]:
int_vocab = dict(enumerate(set(words)))
vocab_int = {int_vocab[i]: i for i in int_vocab}

reviews_ints = []
for review in reviews_split:
    reviews_ints.append([vocab_int[word] for word in review.split()])

In [9]:
print(f'''
Unique words: {len((vocab_int))}

Tokenized review: {reviews_ints[1]}''')

Unique words: 74072

Tokenized review: [41112, 64083, 30582, 16158, 54806, 33923, 51974, 23705, 73557, 30582, 34883, 24046, 37066, 66520, 30582, 14102, 30034, 56914, 63317, 30582, 59624, 31656, 64083, 1953, 34184, 30582, 39841, 68540, 4092, 63317, 54237, 64914, 3237, 1279, 12561, 27128, 2787, 69606, 39802, 7469, 64083, 39558, 55075, 58889, 58935, 39558, 12082, 1953, 69606, 72422, 45835, 66520, 71431, 47834, 11897, 25307, 26791, 39558, 30216, 60887, 17108, 44773, 28960, 2115, 1805, 69606, 28200, 25294, 24779, 54237, 17108, 69606, 2143, 1560, 66103, 17331, 60329, 2564, 10766, 30032, 30582, 31394, 67456, 63351, 30582, 22504, 17637, 39558, 55075, 35269, 16613, 4201, 57760, 69338, 66520, 71890, 34692, 13075, 2787, 34725, 13813, 35877, 30329, 34725, 44549, 42707, 25420, 64973, 66812, 46695, 4464, 24779, 35643, 12440]

In [13]:
#reviews with zero length
from collections import Counter
import
review_lengths = Counter([len(x) for x in reviews_ints])
print(f"Zero-length reviews: {review_lengths[0]}")

Zero-length reviews: 1

In [14]:
#remove zero length review
zero_idx = [i for i, review in enumerate(reviews_ints) if len(review) != 0]

# remove 0-length reviews and their labels
reviews = [reviews_ints[i] for i in zero_idx]
labels = np.array([labels[i] for i in zero_idx])

NameError: name 'np' is not defined

In [12]:
#padding

def pad_feature(token_reviews, seq_length):
    features = np.zeros((len(token_reviews),seq_length), dtype=int)
    for i, row in enumerate(token_reviews):
        features[i,-len(row):]=np.array(row)[:seq_length]
    return features

In [ ]:
seq_length = 512
features = pad_feature(reviews, seq_length)

In [65]:
# 1=positive, 0=negative label conversion
labels = np.array([1 if label == 'positive' else 0 for label in labels])

In [79]:
import pandas as pd
import os

data = pd.DataFrame((reviews,labels), index=["Reviews", "Labels"]).T
data.head()

                                             Reviews Labels
0  [293, 44651, 34832, 19394, 14792, 64965, 26679...      1
1  [14371, 4663, 19394, 40688, 32119, 65521, 4455...      0
2  [37789, 3671, 67463, 48329, 30329, 64971, 2756...      1
3  [40859, 3391, 48329, 19394, 6949, 8224, 15086,...      0
4  [50407, 11495, 70083, 11291, 55273, 11599, 178...      1

In [77]:
#save data as cleaned.csv
data.to_csv('./data/cleaned_data.csv', index=False)

In [47]:
np.save("data/dict/int_vocab.npy",int_vocab)
np.save("data/dict/vocab_int.npy",vocab_int)